@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Weight</th>
            <th>Arrival</th>
            <th>Sailed</th>
            <th>ShipId</th>
            <th>ProductId</th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>
